{% extends "layout1.html" %}

{% block nav %}
<li><a href="index.html">Home</a></li>
<li><a href="CropRecommendation.html">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html" class="active">Pesticide</a></li>
<li><a href="weed.html" >WeedIdentification</a></li>
<li><a href="Costofcultivation.html">Costofcultivation</a></li>
{% endblock %}

{% block body %}
<html>
    <head>
        <h2 style="text-align: center; margin: 0px; color: black">
            <b><p>HERBICIDES</p></i></b></h2>
    </head>
    <body>
        <img src="static\img\herbicide\HERBICIDEOPT.png" width="125%">
        <img src="static\img\herbicide\HERBICIDEopt2.png" width="125%">
        </body>
</html>
{% endblock %}