{% extends "layout1.html" %}

{% block nav %}
<a href="index.html"><i></i>Home</a>
<li><a href="CropRecommendation.html" class="active">Crop</a></li>
<li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
<li><a href="PesticideRecommendation.html">Pesticide</a></li>
<li><a href="weed.html">WeedIdentification</a></li>
<li><a href="Costofcultivation.html">Costofcultivation</a></li>
{% endblock %}

{% block body %}
<h2 style="text-align: center; margin: 0px; color: black">
  <br>
  <b>FIND OUT COST OF CULTIVATION PER HECTARE AND YIELD PREDICTION IN KG PER HECTARE </b>
  </h2>
  <h4>*************************************************************************************************************************</h4>
<b>  INDEX FOR CROPS :ARHAR[0],COTTON[1],GRAM[2],GROUNDNUT[3],MAIZE[4],MOONG[5],PADDY[6],
    RAPESEED AND MUSTARD[7],SUGARCANE[8], WHEAT[9]</b>
<br />
<h4>****************************************************************************************************************************</h4>
<br/>
<b>  INDEX FOR STATES :Uttar Pradesh[0],Karnataka[1], Gujarat[2],Andhra Pradesh[3],
    Maharashtra[4], Punjab[5], Haryana[6], Rajasthan[7], Madhya Pradesh[8],
    Tamil Nadu[9], Bihar[10], Orissa[11],West Bengal[12</b>
    <br/>
    <br/>
    <h4>*********************************************************************************************************************</h4>
<div class="light-gray-bg">
<div
  style="
    width: 350px;
    height: 50rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  ">
  <form method="POST" action="/yield_prediction">
    <div class="form-group">
      <label for="Crop" style="font-size: 17px"><b>Crop</b></label>
      <input
        type="number"
        class="form-control"
        id="Crop"
        
        name="Crop"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="State" style="font-size: 17px"
        ><b>State</b></label>
      <input
        type="number"
        class="form-control"
        id="State"
        
        name="State"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
      <label for="Cost of Cultivation (`/Hectare) A2+FL" style="font-size: 17px"><b>Cost of Cultivation (`/Hectare) A2+FL</b></label>
      <input
        type="number"
        class="form-control"
        id="Cost of Cultivation (`/Hectare) A2+FL"
        name="Cost of Cultivation (`/Hectare) A2+FL"
        
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Cost of Cultivation (`/Hectare) C2" style="font-size: 17px"><b>Cost of Cultivation (`/Hectare) C2</b></label>
      <input
        type="number"
        class="form-control"
        id="Cost of Cultivation (`/Hectare) C2"
        name="Cost of Cultivation (`/Hectare) C2"
        
        step=".01"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Cost of Production (`/Quintal) C2" style="font-size: 17px"><b>Cost of Production (`/Quintal) C2</b></label>
      <input
        type="number"
        class="form-control"
        id="Cost of Production (`/Quintal) C2"
        name="Cost of Production (`/Quintal) C2"
        
        step="0.01"
        placeholder="Enter the value"
        style="font-weight: bold"
        required/>
    </div>

    <div class="form-group">
      <label for="Yield (Quintal/ Hectare)" style="font-size: 17px"><b>Yield (Quintal/ Hectare)</b></label>
      <input
        type="number"
        class="form-control"
        id="Yield (Quintal/ Hectare)"
        
        step="0.01"
        name="Yield (Quintal/ Hectare)"
        placeholder="Enter the value"
        style="font-weight: bold"
        required/>
    </div>

    <div class="form-group">
      <label for="Per Hectare Cost Price" style="font-size: 17px"><b>Per Hectare Cost Price</b></label>
      <input
        type="number"
        class="form-control"
        id="Per Hectare Cost Price"
        
        step="0.01"
        name="Per Hectare Cost Price"
        placeholder="Enter the value"
        style="font-weight: bold"
        required/>
    </div>


    <div class="d-flex justify-content-center">
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <button type="submit"
        style="color: #c79c60; font-weight: bold;
         background-color: black;
         width: 130px; height:50px; border-radius:12px; font-size: 21px;">
        Predict
      </button>
      <br><br>
    </div>
  </form>
</div>
  </div>

{% endblock %}